body {
  background-color: #fceffc;
  font-family: 'Segoe UI', sans-serif;
}

.card img {
  object-fit: cover;
  height: 200px;
}

.logo-navbar {
  width: 100px;
  height: px;
  object-fit: contain;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: bold;
}
